*.DS_Store
*.o
*.out
*.a
*.cor
*.s
result
*.log
./test
./corewar
./src/corewar/t_*
./t_*
./src/corewar/t_*
.leaks/*
.vscode/*
asm
.vs
_42_corewar_checker
corewar
logs
src/corewar/t_*
src/corewar/tests