*.DS_Store
*.a
*.cor
*.log
*.o
*.out
*.s
./asm
./corewar
./test
corewar
./src/corewar/t_*
./src/corewar/t_*
./test
.leaks/*
.vscode/*
_42_corewar_checker/
result
asm
_42_corewar_checker/
_42-Corewar-Checker/
.vs/
logs/*
